<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sama.engine">

    <uses-feature android:name="android.hardware.vulkan" android:required="true"/>
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34"/>

    <application
        android:hasCode="false"
        android:label="Sama Engine"
        android:allowBackup="false">

        <activity
            android:name="android.app.NativeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="unspecified"
            android:exported="true">

            <meta-data android:name="android.app.lib_name" android:value="sama_android"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
